* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/*-----NAVIGATION-----*/

.navigation {
  background-color:  #3b5998;
  height: 50px;
  width: 100%;
  color: white;
}

.navigation h1 {
  float: left;
  padding: 10px 0 0 50px;
  width: 20%;
  font-weight: 20;
}

.navigation ul {
  float: left;
  margin-left: 100px;
  list-style: none;
  display: inline;
  display: inline-flex;
  margin-top: 15px;
}

.navigation li {
  padding-right: 20px;
  font-size: 14px;
}

.top-icons {
  display: inline-flex;
  margin-left: 50px;
  float: left;
  margin-top: 10px;
}

.top-icons img{
  height: 30px;
  margin-left: 0px;
}

#messagess {
  height: 25px !important;
  margin-left: 30px;
  margin-top: 4px;
}


#notificationss {
  margin-left: 20px;
  height: 23px !important;
  margin-top: 5px;
}

.lock {
  float: left;
  height: 20px;
  margin: 13px 10px 10px 100px;
}

.search-img {
  float: right;
  height: 25px;
  margin: 16px 10px 10px 20px;
}

.search {
  width: 300px;
  color: white;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  float: right;
  margin: 20px 10px 10px 0;
  filter: brightness(70%);
}

input::placeholder {
  color: white;
}

/*-----HEADER-----*/

.header {
  background-image: url(./Resources/Images/img1.jpg);
  height: 350px;
  background-size: cover;
  color: white;
}

.header img {
  height: 110px;
  width: 110px;
  border-radius: 150%;
  object-fit: cover;
  float: left;
  margin: 170px 30px 0px 50px;
}

.header h1 {
  font-weight: 100;
  font-size: 40px;
  display: inline-block;
  padding-top: 170px;
}

.header p {
  font-size: 14px;
  background-color: rgb(255,250,250,0.4);
  display: inline-block;
  padding: 8px 15px;
  margin: 5px 0px 0px 2px;
  border-radius: 3%;
}

/*-----MAIN-----*/

.main {
  display: grid;
  grid-template-columns: 34% 50% 16%;
  background-color: #fafafa;
}


/*-----INTRO-----*/
.intro {
  background-color: #ffffff;
  height: 180px;
  width: 250px;
  margin: 40px 40px 8px 40px;;
  box-shadow: 1px 1px  3px rgb(184, 184, 184);
  padding: 10px;
}
.intro img {
  height: 50px;
}

.intro p{
  font-size: 12px;
  color: #9a9a9a;
  display: inline-block;
  margin-top: 5px;
}

#intro-p {
  color: black;
  font-size: 14px;
  padding-top: 10px;
  padding-right: 170px;
  display: inline-block;
  float: right;
}

#actress {
  color: black;
  font-size: 13px;
  margin: 0;
}

#update {
  margin-top: 10px;
  color: #369ef4;
  font-size: 14px;
  font-weight: 600;
}

/*-----PHOTOS-----*/
.photos {
  background-color: #ffffff;
  height: 329px;
  width: 265px;
  margin: 10px 40px 40px 40px;
  box-shadow: 1px 1px  3px rgb(184, 184, 184);
  padding: 3px;
}

.photo-sec {
  display: flex;
  
}

#photo-icon {
  height: 30px;
  width: auto;
  margin: 15px 0px 0px 16px;
  display: inline-block;
}

.photos p {
  color: black;
  font-size: 14px;
  padding-top: 22px;
  padding-left: 10px;
  display: inline-block;
  float: right;
}

.photos img {
  height: 85.05px;
  width: 85.17px;
  object-fit: cover;
}

/*-----FRIENDS-----*/

.friends {
  background-color: #ffffff;
  height: 329px;
  width: 265px;
  margin: -30px 40px 40px 40px;
  box-shadow: 1px 1px  3px rgb(184, 184, 184);
  padding: 3px;
}

.friends p{
  color: black;
  font-size: 14px;
  padding: 20px 160px 0px 0px;
  float: right;
  display: block;
  
}

.friends img {
  height: 85.05px;
  width: 85.17px;
  object-fit: cover;
}

#friends-icon{
  height: 30px;
  width: auto;
  margin: 15px 0px 0px 16px;
  display: inline-block;
}

.friends-grid {
  padding-top: 16px;
}

/*-----BAR-----*/
.bar {
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  margin: -30px 0px 10px 0px;
  box-shadow: 1px 1px  3px rgb(184, 184, 184);
}

.bar img {
  height: 40px;
  width: 90%;
  padding-left: 25px;
  padding-top: 10px;
}

/*-----POST 1-----*/
.post-1 {
  background-color: #ffffff;
  height: 546px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  box-shadow: 1px 1px  3px rgb(184, 184, 184);
  position: relative;
}

#nick-img-1 {
  margin: 15px 0px 15px 15px;
}

#post-img-1 {
  width: 100%;
  height :285px;
  border-radius: 0%;
}

.post-1 img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  object-fit: cover;
}

.post-1 p {
  font-size: 12px;
  color: #9a9a9a;
}

.nick-p-top {
  display: inline-block;
  float: right;
  padding: 17.5px 290px 0px 0px;
}

#nick-p {
  color: #008cff;
}

.post-icons {
  color: #ffffff;
  height: 40px;
  width: 100%;
}

.post-icons img {
  height: 20px;
  width: 20px;
  border-radius: 0% !important;
  padding: 8px 15px 0px ;
}

#message {
  float: right;
  padding-right: 20px;
}


.johns-comment {
  background-color: #f4f4f4;
  height: 85px;
  width: 100%;
  position: relative;
}

.johns-comment img {
  margin: 15px 0px 10px 10px
}

#john-p {
  display: block;
  position: absolute;
  color: #008cff;
  top: 13px;
  left: 55px;
}

.john-p2 {
  display: block;
  position: absolute;
  top: 30px;
  left: 55px;
}

#time-1 {
  position: absolute;
  top: 13px;
  right: 25px;
}

#nick-img-2 {
  margin: 15px 0px 10px 10px;
}

.comment-input {
  color: white;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid white;
  width: 460px;
  filter: brightness(70%);
  display: inline-block;
  position: absolute;
  bottom: 21px;
  left: 55px
}

.comment-icons {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.comment-icons img {
  height: 20px;
  width: 20px;
  border-radius: 0% !important;
  padding-right: 10px;
  object-fit: cover;
  
}

/*-----POST 2-----*/

.post-2 {
  background-color: #ffffff;
  height: 335.8px;
  width: 100%;
  box-shadow: 1px 1px  3px rgb(184, 184, 184);
}

.img-post2 {
  background-image: url(./Resources/Images/c/img2.jpg);
  background-size: cover;
  height: 300px;
  color: white;
  position: relative;
}

.p-container {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  height: 120px;
  width: 100%;
  bottom: 0;
}

#enjoy{
  font-size: 22px;
  margin: 20px 0px 0px 10px;
}

#morning {
  font-size: 14px;
  margin: 0px 0px 30px 10px;
}

#time2 {
  font-size: 12px;
  margin-left: 10px;
}

#yesterday {
  font-size: 11px;
  color: #9a9a9a;
  margin: 10px;
}

/*-----HEADS-----*/

.heads-main {
  width: 50px;
  height: 1000px;
  padding-left: 67px;
  margin-top: 50px;
}

.heads-main img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

#settings {
  margin-top: 25px;
}

.icoons {
  float: right;
  height: 300px;
  margin: -255px 38px 10px 0px;
}